.service-contain-container {
    background-color: #f3f3f3a0;
    margin-top: 100px;
    padding: 50px 0px;
}

.service-sub-content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-logo img {
    font-size: 100px;
    width: 70px;
    height: 70px;
    padding: 10px;
    transition: 0.4s;

}

.service:hover .service-logo img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.587);
    padding: 10px;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.587);
}

.service-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 20px 0px;
}

.service-text2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    text-align: center;
    color: #707070;
}

.service.eds4 {
    margin: 0px 50px;
}
.service-sub-content-container.eds5 {
    margin-top: 100px;
}