* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.landing-top-container {
    background-color: #f4f4f4;
    padding: 10px 5px;
    display: flex;
    justify-content: space-evenly;
}
.top-info {
    display: flex;
    margin-right: 50px;
    padding-left: 5px;
}

.info1 {
    position: relative;
    cursor: pointer;
}
.info1:hover .infor-details {
    display: inline-block;
}
.info1 span {
    font-size: 17px;
    color: #707070;
}
.info1 .fa {
    color: #00aeef;
    margin-right: 5px;
}
.info1.edi1 {
    margin-left: 40px;
}
.info1.edi1 .infor-details {
    left: 0;
}

/* this is a hover display details for top info */
.infor-details {
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
    width: fit-content;
    padding: 10px 20px;
    text-align: center;
    border-radius: 7px;
    position: absolute;
    left: 15%;
    top: 25px;
    transition: 0.4s;
    display: none;
}

/* this is about social icons */
.social-icon-container {
    display: flex;
}
.icon {
    position: relative;
}
.icon a {
    font-size: 18px;
    text-decoration: none;
    color: #707070;
    transition: 0.4s;
    margin: 0px 10px;
}
.icon:hover .infor-details {
    left: -20px;
    white-space: nowrap;
}

.icon a:hover {
    cursor: pointer;
    color: #00aeef;
}
.icon:hover .infor-details {
    display: inline-block;
}


/* responsive of the top landing page */
@media(max-width: 776px) {
    .info1 span {
        display: none;
    }
    .info1 .infor-details {
        display: none;
    }
}


/* this is the intro of the web */
.landing-page-intro-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px;
}
.primary-btn a {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #00aeef;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.4s;
    white-space: nowrap;
    border: 1px solid #00aeef;
}
.primary-btn a:hover {
    cursor: pointer;
    color: #00aeef;
    background-color: transparent;
}
/* this concerns the links */
.logo {
    cursor: pointer;
}
.header-link-container ul {
    display: flex;
}
.header-link-container ul li {
    list-style: none;
    margin: 0px 20px;
}
.header-link-container ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    transition: 0.3s;
}
.header-link-container .fa {
    font-size: 23px;
}
.header-link-container ul li a:hover {
    cursor: pointer;
    color: #00aeef;
}


/* this is about landing page content container */
.landing-page-content-container {
    background-image: url('/images/background-images/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 0;
    /* height: 90vh; */
    width: 100%;
}
.landing-page-content-container::before {
    content: "";
    background: linear-gradient(45deg, #2c455d, #00012c);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}
.believe-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 250px 20px;
}
.welcoming-text {
    text-transform: capitalize;
    font-size: 60px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 80px;
}
.welcoming-text2 {
    font-size: 20px;
    color: #c3c3c3;
    margin: 50px 0px;
    line-height: 30px;
}
.btns {
    display: flex;
    margin: 0px 50px;
}
.btns .primary-btn.edp1 {
    margin-right: 50px;
}
.btns .primary-btn.edp2 a {
    background-color: transparent;
    border: 1px solid #00aeef;
    color: #00aeef;
}
.btns .primary-btn.edp2 a:hover {
    cursor: pointer;
    color: #fff;
    background-color: #00aeef;
}

/* responsive for landing page content */
@media(max-width: 1120px) {
    .welcoming-text {
        font-size: 50px;
    }
    .welcoming-text2 {
        font-size: 15px;
    }
    .believe-container {
        padding: 200px 20px;
    }
}
@media(max-width: 918px) {
    .welcoming-text {
        font-size: 40px;
    }
    .welcoming-text2 {
        font-size: 15px;
    }
    .believe-container {
        padding: 150px 20px;
    }
}
@media(max-width: 712px) {
    .welcoming-text {
        font-size: 30px;
        line-height: 60px;
    }
    .welcoming-text2 {
        font-size: 15px;
    }
    .believe-container {
        padding: 100px 20px;
    }
}
@media(max-width: 545px) {
    .welcoming-text {
        font-size: 27px;
        line-height: 50px;
    }
    .welcoming-text2 {
        font-size: 13px;
    }
    .believe-container {
        padding: 80px 20px;
    }
}
@media(max-width: 488px) {
    .welcoming-text {
        font-size: 27px;
        line-height: 50px;
    }
    .welcoming-text2 {
        font-size: 13px;
    }
    .believe-container {
        padding: 80px 20px;
    }
    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width: 480px) {
    .btns .primary-btn.edp2 {
        margin-top: 50px;
    }
    .btns .primary-btn.edp1 {
        margin-right: 0px;
    }
}
@media(max-width: 486px) {
    .welcoming-text {
        font-size: 27px;
        line-height: 40px;
    }
    .welcoming-text2 {
        line-height: 20px;
        margin: 40px 0px;
    }
}


/* this is the section about us */
.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.about-content-container {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-content-header {
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 530;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.about-content-header::after {
    content: "";
    width: 80px;
    background-color: #00aeef;
    position: absolute;
    top: 80px;
    left: 0;
    height: 10%;
}
.about-text-and-other-container {
    width: 45em;
    position: relative;
    top: 80px;
    bottom: 50px;
}
.about-text {
    position: relative;
    line-height: 30px;
    color: #707070;
}

/* this is about the light blue rating */
.other1 {
    display: flex;
    justify-content: space-between;
}
.other-text {
    text-transform: capitalize;
    font-size: 25px;
    color: #333333;
    cursor: context-menu;
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.other2,
.other3 {
    width: 100%;
    background-color: #00aeef;
    height: 3%;
    position: absolute;
}
.other2 {
    background-color: #eeeeee;
    width: 100%;
}
.other3 {
    background-color: #00aeef;
    width: 80%;
}
.other3.edo1 {
    width: 65%;
}
.other3.edo2 {
    width: 85%;
}
.other-positioning {
    margin: 50px 0px;
}
.horizontal-line {
    border: 1px solid #eeeeee;
    margin: 100px 150px;
}


.about-detail-container {
    display: flex;
    justify-content: center;
    margin: 0px 30px;
}
.about-detail {
    text-align: center;
}
.about-detail1 {
    font-size: 50px;
    color: #00aeef;
}
.about-detail2 {
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0px;
}
.about-detail.eda2 {
    margin: 0px 100px;
}
.about-detail.eda4 {
    margin-left: 100px;
}
.about-detail3 {
    text-transform: capitalize;
    color: #333333;
    font-size: 20px;
    font-weight: 530;
}


/* responsive for the about us section */
@media(max-width: 1423px) {
    .about-text-and-other-container {
        width: 35em;
    }
}
@media(max-width: 1255px) {
    .about-text-and-other-container {
        width: 25em;
    }
    .about-text {
        width: 400px;
    }
    .about-img img {
        width: 400px;
    }
}
@media(max-width: 900px) {
    .about-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-img img {
        width: 500px;
    }
    .about-content-header {
        margin-top: 50px;
    }
    .about-text-and-other-container {
        width: 35em;
    }
}
@media(max-width: 680px) {
    .about-text-and-other-container {
        width: 25em;
    }
    .about-img img {
        width: 450px;
    }
    .other-text {
        margin-right: 20px;
    }
}
@media(max-width: 522px) {
    .about-text-and-other-container {
        width: 15em;
    }
    .about-img img {
        width: 350px;
    }
    .about-content-header {
        font-size: 30px;
    }
    .about-content-header::after {
        top: 50px;
    }
    .about-text {
        width: 300px;
    }
    .about-content-container {
        margin-left: -100px;
    }
}
@media(max-width: 400px) {
    .about-img img {
        width: 300px;
    }
    .about-content-container {
        margin-left: -50px;
    }
}
@media(max-width: 340px) {
    .about-img img {
        width: 200px;
    }
    .about-content-container {
        margin-left: -50px;
    }
    .about-content-header::after {
        left: 25%;
        top: 50px;
    }
    .about-text {
        width: 200px;
    }
    .about-text-and-other-container {
        width: 10em;
    }
    .about-content-container {
        margin-left: -25px;
    }
}

/* responsive for about detail */
@media(max-width: 890px) {
    .about-detail-container {
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width: 814px) {
    .about-detail.eda4 {
        margin-top: 50px;
    }
}
@media(max-width: 650px) {
    .about-detail.eda3 {
        margin-top: 50px;
    }
}
@media(max-width: 566px) {
    .about-detail.eda2 {
        margin-top: 50px;
    }
}
@media(max-width: 325px) {
    .about-detail.eda4 {
        margin-top: 50px;
        margin-left: 50px;
    }
}



/* this is the service section */
.service-container {
    background-image: url('/images/background-images/13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.service-container::before {
    content: "";
    background: linear-gradient(45deg, #2c455d, #00012c);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}
.service-header .about-content-header {
    color: #fff;
}
.main-service {
    margin-left: 30px;
}
.service-icon-container {
    position: relative;
}
.service-icon-positioning {
    display: flex;
    text-align: center;
}
.service-icon {
    margin-top: 80px;
}
.service-icon.eds1 {
    margin-left: 50px;
    margin-right: 50px;
}
.service-log {
    color: #fff;
}
.service-log-text {
    text-transform: capitalize;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 520;
    color: white;
    transition: 0.3s;
}
.service-icon:hover .service-log-text {
    color: #00aeef;
}

.service-video-container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 30px;
}
.service-img-video {
    position: absolute;
}
.play-icon {
    position: absolute;
    top: 20%;
}
.play-icon a {
    text-decoration: none;
    background-color: #00aeef;
    font-size: 25px;
    padding: 20px 25px;
    color: white;
    border-radius: 50%;
    transition: 0.3s;
}
.play-icon a:hover {
    cursor: pointer;
    background-color: #000;
}

/* this is the responsive for services */
@media(max-width: 1180px) {
    .service-img-video img {
        width: 500px;
    }
    .service-header .about-content-header {
        font-size: 40px;
    }
    .service-container {
        height: 50vh;
    }
}
@media(max-width: 1060px) {
    .service-container {
        display: flex;
        flex-wrap: wrap;
    }
    .service-img-video {
        top: 10px;
    }
    .service-img-video img {
        width: 600px;
    }
    .service-video-container {
        background-image: url('/images/background-images/13.jpg');
        height: 430px;
        width: 100%;
        margin-top: 40px;
    }
    .service-video-container::before {
        content: "";
        background: linear-gradient(45deg, #2c455d, #00012c);
        width: 100%;
        height: 100%;
        position: absolute;
        margin-left: 0;
    }
    .play-icon {
        margin-top: 15%;
    }
}
@media(max-width: 900px) {
    .main-service {
        margin-top: -80px;
    }
}
@media(max-width: 650px) {
    .service-img-video img {
        width: 500px;
    }
}
@media(max-width: 650px) {
    .service-img-video img {
        width: 400px;
    }
    .service-header .about-content-header {
        font-size: 30px;
    }
    .service-video-container::before {
        background-image: none;
    }
    .service-video-container {
        background-image: none;
    }
}
@media(max-width: 450px) {
    .service-img-video img {
        width: 300px;
    }
    .service-header .about-content-header {
        font-size: 20px;
    }
}
@media(max-width: 340px) {
    .service-log-text {
        font-size: 13px;
    }
    .main-service {
        margin-left: 10px;
    }
    .service-header .about-content-header::after {
        left: 0;
    }
}